<nav class="navbar navbar-default">
    
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-left">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Menu</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
                  <li><a href="#">Link</a></li>
        <li><a href="#/new">Comprar Licencia <span class="sr-only"></span></a></li>

        <li class="dropdown">
          <a data-toggle="dropdown" role="button">Prueba <span class="caret">                </span></a>
          <ul class="dropdown-menu" role="menu">
              <li class="divider"></li>
              <li><a href="#">Action</a></li>
         </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
   <!-- /.navbar-collapse -->
  </div>
    
</nav>

<table width="100%" ng-app ng-controller="Oferta as of" ng-init="of.consultar()">
    <tr>
        <td colspan="2">
            <div class="container-fluid" >
            <h1>Calificacion</h1>
            <br>
            <div class="container-fluid" >
                <ul class="nav nav-tabs">
                    <li role="presentation"  ng-click="of.registro()" ><a>Adicionar</a></li>
                    <li role="presentation" ng-click="of.seleccionarEmpleado()"><a>Seleccionar empleado</a></li>
            </ul>       
            <br>
            </div>
        </td>
    </tr>
    
     <td width="10%">
                           
                       </td>
                        <td width="45%">
                            <table width="100%" >
                                <tr>
                                    <td>Rango</td>
                                    <td><input name="Rango" ng-model="of.Oferta.calificacion.rango" required></td>
                                </tr>
                                <tr>
                                    <td>Valor</td>
                                    <td><input name="Valor" ng-model="of.Oferta.calificacion.valor" required></td>
                                </tr>
                                <tr>
                                    <td>Comentario</td>
                                    <td><textarea name="Descripcion" ng-model="of.Oferta.calificacion.comentario" rows="4" cols="20">
                                        </textarea></td>
                                </tr>
                            </table>
                        </td>
</table>

