<div>
<table width="100%" ng-app ng-controller="Oferta as of" ng-init="of.consultar()">
    <tr>
        <td colspan="2">
            <div class="container-fluid" >
            <h1>Calificacion</h1>
            <br>
            <div class="container-fluid" >
                <ul class="nav nav-tabs">
                    <li role="presentation"  ng-click="of.registro()" ><a>Adicionar</a></li>
                    <li role="presentation" ng-click="of.seleccionarEmpleado()"><a>Seleccionar empleado</a></li>
            </ul>       
            <br>
            </div>
        </td>
    </tr>
    
     <td width="10%">
                           
                       </td>
                        <td width="45%">
                            <table width="100%" >
                                <tr>
                                    <td>Rango</td>
                                    <td><input name="Rango" ng-model="of.Oferta.calificacion.rango" required></td>
                                </tr>
                                <tr>
                                    <td>Valor</td>
                                    <td><input name="Valor" ng-model="of.Oferta.calificacion.valor" required></td>
                                </tr>
                                <tr>
                                    <td>Comentario</td>
                                    <td><textarea name="Descripcion" ng-model="of.Oferta.calificacion.comentario" rows="4" cols="20">
                                        </textarea></td>
                                </tr>
                            </table>
                        </td>
</table>
</div>

