<div>
<table width="100%" ng-app ng-controller="login as of" ng-init="of.consultar()" >
    <tr>
        <td colspan="2">
            <div class="container-fluid" >
                <h1 class="text-center">Login</h1>
            <br>
            <div class="container-fluid" >
                <ul class="nav nav-tabs">
                </ul>
            <br>
            </div>
        </td>
    </tr>
  <tr>
            <td colspan="2">
                        <div class="container-fluid">
                            <table width="100%" >
                                <tr>
                                  
                       <td width="10%">
                           <div class="img-rounded"><img  src="img/logo2.png" /></div>
                       </td >
                       <td width="10%"></td>
                        <td width="20%">
                            <table width="100%">
                                <tr>
                                    <td><h4 class="text-center">Usuario</h4></td>
                                    <td><input type="text" ng-model="of.Usuario.identificacion" required></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4 class="text-center">Clave</h4></td>
                                    </td>
                                    <td>
                                        <input type="password" name="clave" ng-model="of.Usuario.Clave" required></td>
                                </tr>

                                <tr >
                                    <td colspan="2"><input type="submit" value="Login" ng-click="of.login()"/>
                                    <input type="submit" value="Registrarse"/>
                                    </td>
                                    <td ></td>
                                    <td width="20%"></td>
                                </tr>
                           </table>
                            
                        </td>
                        <td width="10%"></td>
                    </tr>
                    
                    
                </table>
                
            </div>
          </td>
    </tr>
    </table>
</div>