<nav class="navbar navbar-default">
    
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-left">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Menu</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a data-toggle="dropdown" role="button">Prueba <span class="caret">                </span></a>
          <ul class="dropdown-menu" role="menu">
              <li class="divider"></li>
              <li><a href="#">Action</a></li>
         </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
   <!-- /.navbar-collapse -->
  </div>
    
</nav>
<table width="100%" ng-app ng-controller="TipoRol as of" ng-init="of.consultar()">
    <tr>
        <td colspan="2">
            <div class="container-fluid" >
            <h1>Personas</h1>
            <br>
            <div class="container-fluid" >
                <ul class="nav nav-tabs">
                    <li role="presentation"  ng-click="of.registro()" ><a>Adicionar</a></li>
                    <li role="presentation"><a href="#">Aplicar Oferta</a></li>
            </ul>
            <br>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" width="100%">
            <div class="container-fluid" >
                    <table width="100%">
                    <tr>
                        <td style="aling:right" width="33%">
                            Personas
                        </td>
                        <td  style="aling:left" width="33%" >
                        <td><input type="text" name="Valor" ng-model="OptionFind" /></td>
                        <td>
                        <td style="aling:right" width="33%">
                            <input type="submit" value="Buscar" ng-click="of.Buscar()" />
                        </td>
                        <td>Tipo</td>
                                    <td><select name="Estados" id="ofEstado" ng-model="OptionTipo" ng-change="of.habilitarControles()"  >
                                            <option>Publicante</option>
                                            <option>Postulante</option>
                                    </select></td>
                                
                    </tr>
                 </table>   
            </div>        
          </td>
        </tr>
        <tr>
            <td colspan="2">
                        <div class="container-fluid">
                            <table width="100%">
                                <tr>
                                    <td width="45%">

                                  <div class="panel-heading" >Ofertas</div>
                                     <table class="table" >
                                 <thead>
                                 <th></th>
                                 <th>IdOferta</th>
                                 <th>Descripcion</th>
                                 <th>Valor</th>

                                 </thead>
                                 <tbody>
                                     <tr ng-repeat="oft in ofertasG">
                                         <td><input type="radio" name="" value="0" /> </td>
                                         <td>{{oft.id}}</td>
                                         <td>{{oft.descripcion}}</td>
                                         <td>{{oft.valor}}</td>
                                     </tr>
                                 </tbody>
                             </table>
                       </td>
                       <td width="10%">
                           
                       </td>
                        <td width="45%">
                            <table width="100%" >
                                <tr>
                                    <td>Identificación</td>
                                    <td><input type="text" ng-model="of.Persona.identificacion" required></td>
                                </tr>
                                <tr>
                                    <td>Nombre</td>
                                    <td><input type="text" name="nombre" ng-model="of.Persona.nombre" required>
                                    </td>
                                </tr>
                                 <tr>
                                    <td>Fecha Nacimiento</td>
                                    <td><input type="date" name="fechaNacimiento" ng-model="of.Persona.fechaNacimiento" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Direccion</td>
                                    <td><textarea name="direccion" ng-model="of.Persona.direccion" rows="4" cols="20">
                                    </textarea></td>
                                </tr>
                                <tr>
                                    <td>Correo</td>
                                    <td><input type="text" name="correo" ng-model="of.Persona.correo" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Telefono</td>
                                    <td><input type="text" name="telefono" ng-model="of.Persona.telefono" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>País</td>
                                    <td><input type="text" name="pais" ng-model="of.Persona.pais" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ciudad</td>
                                    <td><input type="text" name="ciudad" ng-model="of.Persona.ciudad" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Región</td>
                                    <td><input type="text" name="region" ng-model="of.Persona.region" required>
                                    </td>
                                </tr>
                                    <tr>
                                    <td>Publicante</td>
                                    <td>___________________________
                                     <br>
                                    </td>
                                    
                                    
                                </tr>
                                <tr>
                                    <td>Experiencia</td>
                                    <td><textarea name="experiencia" id="experiencia" ng-model="of.Publicante.experiencia" rows="4" cols="20">
                                    </textarea></td>
                                </tr>
                                <tr>
                                    <td>Postulante</td>
                                    <td>___________________________
                                    <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hoja de Vida</td>
                                    <td><textarea name="hojadevida" id="hojadevida" ng-model="of.Postulante.hojaDeVida.hojaDeVida" rows="7" cols="20">
                                    </textarea></td>
                                </tr>
                                <tr>
                                    <td>Fecha Actualizacion</td>
                                    <td><input type="date" name="fechaActualizacion" id="fechaActualizacion" ng-model="of.Postulante.hojaDeVida.fechaActualizacion" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Foto</td>
                                    <td><input type="text" name="foto" id="foto" ng-model="of.Postulante.hojaDeVida.foto" required>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Aspiración Salarial</td>
                                    <td><input type="number" name="aspiracionSalarial" id="aspiracionSalarial" ng-model="of.Postulante.aspiracionSalarial" required>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    
                    
                </table>
                
            </div>
          </td>
               
    </tr>
    </table>