<div class="container">
    <h1> Pago de licencias </h1>
        <div class="container">
            <div class="panel, well-sm" ng-controller="PagoLicencia as pagos" ng-init="pagos.TraerLicencias()">
                <form class="form-inline">      
                    <div>
                        <label>
                            Numero tarjeta credito: 
                        </label>
                        <input type="text" name="fname" class="form-control" ng-model="pagos.pago.numeroTarjeta"><br>
                    </div><br>
                    <div>
                        <label>
                            Tipo Tarjeta 
                        </label>
                        <select name="TipoTarjeta" ng-model="pagos.pago.nombreTarjeta">
                            <option>Visa</option>
                            <option>Mastecard</option>
                        </select>

                    </div><br>
                    <div>
                        <label>
                            Codigo de Seguridad 
                        </label>
                        <input type="text" name="lcant" class="form-control" ng-model="pagos.pago.codigoSeguridad"><br>
                    </div><br>
                    <div>
                        <label>
                            Tipo de Licencia 
                        </label>
                            <select ng-model="pagos.licencia" >
                                <option ng-repeat="lic in licencias">{{lic.idLicencias}}-{{lic.descripcion}}</option>
                            </select>
                    </div><br>
                </form>
                <button ng-click="pagos.pagarLicencia()" class="btn btn-default" type="submit">pagar</button>
            </div>
        </div>    
</div>