<html ng-app="pagemodule">
    
    <head >
        
        <script src="js/libs/angular.min.js"></script>
        <script src="js/libs/angular-route.js"></script>
        <script src="js/libs/appmodule.js"></script>
        
         <link rel="stylesheet" href="css/bootstrap.css">
        <title>sample app</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <h1>Tservice</h1>
            <div class="container">
            	<div class="panel">
                	<form class="form-inline">
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                        	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" ng-model="reg.producto.nombre">
                    </div><br>
                <div>
                    <label for="exampleInputPassword1">
                    	<span class="glyphicon glyphicon-lock" aria-hidden="true"></span> 
                    </label>
                	<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="reg.producto.nombre">
                </div><br>
                <button ng-click="pagecon.registrar()" type="submit" class="btn btn-default">Submit</button>
                </form>
                </div>
                <div class="slide-animate" ng-include="page"></div>
            </div>
        </div>
    </body>
</html>
